<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/thankyou.css">

</head>
<body id="body">
    <div id="thank-you">
        <div class="image">
            <img className="mb-4" src="/images/gujarat_police_logo.png" alt="" width="130"/>
            <!-- <img class="mb-4" src="/images/gujarat-police-logo.png" alt="sed" width="90"> -->
        </div>
        <div class="message">
            <h4><b>Thank You for your Feedback</b></h4>
            <h6>Download <a href="http://play.google.com/store/apps/details?id=com.tcs.digigov.mobility.dhs.citizen.gj">Citizen First Gujarat Police </a>for Citizen</h6>
            <h6>Dial 112 for any emergency</h6>
        </div>        
    </div>
</body>
</html>